<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- {% load static%} -->
    <!-- <link rel="stylesheet" type="text/css" href="signup/style.css}"> -->

    <title>Sign Up</title>
</head>
<body>

  {% if data %}

  <form action="{% url 'update_item' data.id %}" method="POST" style="border:1px solid #ccc" >
    {% csrf_token %}
   
    <div class="container">
      <h1  style="text-align: center">Adding User</h1>
      <p  style="text-align: center">Please fill in this form to add an user.</p>
      <hr>

      <label for="fullname"><b>Full Name</b></label><br>
      <input type="text" value="{{data.fullname}}" placeholder="Enter Full Name" name="fullname" size="50" required>
      <br><br>
  
      <label for="email"><b>Email Address</b></label><br>
      <input type="text" placeholder="Enter Email" value="{{data.email}}" name="email" size="50" required>
      <br><br>

      <label for="suppliers"><b>Suppliers</b></label><br>
      <input type="text" list="supplier" name="supplier" value="{{data.supplier}}" id="supplier">

      <datalist id="supplier">
        <option value="Karnali Water Supplier">
        <option value="Melamchi Water Supplier">
        <option value="Chandragiri Water Supplier">
        <option value="Bhotekoshi Water Supplier">
        <option value="Kalimati Water Supplier">
        <option value="Khane Pane Suppliers">
        <option value="Ghar-Gharma Water Supplier">
        <option value="Timro Maan Water Supplier">
      </datalist>
      <br><br>

      <label for="phone-number"><b>Contact Number</b></label><br>
      <input type="text" placeholder="Add your phone number" value="{{data.phone_number}}" name="phone_number" size="50" required>
      <br><br>
  
      <label for="unit"><b>Motor Unit</b></label><br>
      <input type="numbers" placeholder="Add your unit" name="unit" value="{{data.unit}}" size="50" required>
      <br><br>

      <label for="address"><b>Address</b></label><br>
      <input type="text" placeholder="Add your Location" name="location" value="{{data.location}}" size="50" required>
      <br><br>
  
      <div class="clearfix">
        <button type="save" class="savelbtn" value="Add">Update</button>
        <button type="cancel" class="cancelbtn" ><a href="/client">Cancel</a> </button>
        
      </div>
    </div>
  </form> 







  {% else %}
    
    <form action="{% url 'add' %}" method="POST" style="border:1px solid #ccc" >
        {% csrf_token %}
       
        <div class="container">
          <h1  style="text-align: center">Adding User</h1>
          <p  style="text-align: center">Please fill in this form to add an user.</p>
          <hr>

          <label for="fullname"><b>Full Name</b></label><br>
          <input type="text" placeholder="Enter Full Name" name="fullname" size="50" required>
          <br><br>
      
          <label for="email"><b>Email Address</b></label><br>
          <input type="text" placeholder="Enter Email" name="email" size="50" required>
          <br><br>

          <label for="suppliers"><b>Suppliers</b></label><br>
          <input type="text" list="supplier" name="supplier" id="supplier">

          <datalist id="supplier">
            <option value="Karnali Water Supplier">
            <option value="Melamchi Water Supplier">
            <option value="Chandragiri Water Supplier">
            <option value="Bhotekoshi Water Supplier">
            <option value="Kalimati Water Supplier">
            <option value="Khane Pane Suppliers">
            <option value="Ghar-Gharma Water Supplier">
            <option value="Timro Maan Water Supplier">
          </datalist>
          <br><br>

          <label for="phone-number"><b>Contact Number</b></label><br>
          <input type="text" placeholder="Add your phone number" name="phone_number" size="50" required>
          <br><br>
      
          <label for="unit"><b>Motor Unit</b></label><br>
          <input type="numbers" placeholder="Add your unit" name="unit" size="50" required>
          <br><br>

          <label for="address"><b>Address</b></label><br>
          <input type="text" placeholder="Add your Location" name="location" size="50" required>
          <br><br>
      
          <div class="clearfix">
            <button type="save" class="savelbtn" value="Add">Save</button>
            <button type="cancel" class="cancelbtn"><a href="/client">Cancel</a></button>
            
          </div>
        </div>
      </form> 
    {% endif %}
</body>
</html>